/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my */
*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Circular-cyr', Helvetica, IosFix, Arial, sans-serif !important;
    width: auto;
}

header{
    width: 100%;
    height: 90px;
    background-color: rgba(000,000,000,.7); 
    position: fixed;
}
.header_profile{
    
} 

main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.block{
    width: 100%;
    height: 900px;
    margin: 0 auto;
    padding: auto 50px;
}

.first_block{
    background:linear-gradient(to left,   rgb(83, 48, 141), rgb(187, 123, 194), rgb(133, 74, 127));
    
}
.first_content {
    width: auto;
    height: 700px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.left{
    width: 30%;   

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start; 
}
.right{
    width: 70%;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
}
.img_body {
    height: 250px;
    width: 250px;
    display: inline-block;
} 

.second_block{
    height: 500px;
}
.second_content{
    padding: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anchor {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}
.anchor,
a {
    color:rgb(44, 165, 74);
    text-decoration: none;
    
}
h1.second{
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 48px;
}
h3.second{
    padding-bottom: 40px;
}

h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    padding-top: 2px;
    padding-bottom: 10px;
}
h6, h3{
    font-weight: 800;
    line-height: 25px;
}
h6{
    font-size: 16px;
}
h3{
    font-size: 22px;
    padding-bottom: 20px;
}



button{
    width: 300px;
    height: 70px;
    border-radius: 50px;
    background-color: rgb(61, 201, 96);
    border: 1px solid rgb(61, 201, 96);
    cursor: pointer;
    display: inline-block;
    
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}
button:hover{
    background-color: rgb(96, 219, 127);
}



footer{
    width: 100%;
    height: 510px;
    background-color:hotpink;
    margin-top: auto;
}

.container_footer{
    padding-top: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.heading{
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
    font-weight: 700;
}
.list{
    color: white;
    padding-top: 10px;
    font-size: 14px;
}
.footer_img {
    width:100px;
    height:100px;
    background:rgb(83, 48, 141);
}

.footer_container_anchor{
    height: 200px;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    font-size: 10px;
}
.a_footer {
    padding-right: 20px;
    color: grey;
}
.a_footer2{
    color: gray;
}
.a_footer:hover{
    color: green;
}
p.footer{
    color:gray;
}